<html>
<head>
    <title>Minecraft Avatars &middot; MCAvatar</title>

    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <meta name="keywords" content="minecraft,player,avatar,head,generation">
    <meta name="description" content="A simple service to generate 2d images of Minecraft player heads">

</head>
<body>

    <section class="header">
        <h1>MCAvatar</h1>
        <h2>Player heads made simple</h2>
    </section>

    <section class="content">
        <div class="block">
            <h3>With helmet</h3>
            <img width=64 height=64 src="{{ url_for('img.avatar', helm='h', user='Tolgar') }}">
            <pre>&lt;img src=&quot;{{ url_for('img.avatar', helm='h', user='Tolgar') }}&quot;&gt;</pre>
        </div>

        <div class="block">
            <h3>Without helmet</h3>
            <img width=64 height=64 src="{{ url_for('img.avatar', helm='f', user='Tolgar') }}">
            <pre>&lt;img src=&quot;{{ url_for('img.avatar', helm='f', user='Tolgar') }}&quot;&gt;</pre>
        </div>

        <div class="block">
            <h3>Other sizes</h3>
            <img width=80 height=80 src="{{ url_for('img.avatar', helm='h', user='buttscicles', size=80) }}">
            <pre>&lt;img src=&quot;{{ url_for('img.avatar', helm='h', user='buttscicles', size=80) }}&quot;&gt;</pre>
        </div>

    </section>

    <footer>
        <div class="inside">
            <a href="https://github.com/buttscicles/MCAvatar">Code</a>
        </div>
    </footer>

</body>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26424587-1']);
  _gaq.push(['_setDomainName', 'buttscicl.es']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>